@media screen and (min-width: 568px){
    body{
        font-size: 1.1rem;
    }


    /*****ASIDE*****/
    aside ul li,
    aside ul li .aside-text,
    aside .logo .aside-text{
   display: flex ;
   justify-content: left;
    }

   aside .aside-middle{
    display: block;
   }

   aside .aside-bottom{
    display: block;
   }

   /*******MAIN*****/
   .bt-large{
    padding: 1rem .5rem;
   }

   main .pd-md-2rem{
    padding: 2rem;
   }

   main section{
    margin-top: 7rem;
   }
}

@media screen and (min-width: 768px) {
    body{
        font-size: 1.2rem;
    }

    /*******MAIN******/
    main section .col-md-1_4{
        width: calc(100% / 4);
    }
    
}

@media screen and (min-width: 992px) {
    body{
        font-size: 1.3rem;
    }

    /*******MAIN******/
    main section .col-lg-1_6{
        width: calc(100% / 6);
    }
}